.wrapper {
  max-width: 1200px !important;
  width: 92% !important;
  margin: 0 auto !important;
  padding: 0 20px !important;
}

.container {
  max-width: 1200px !important;
  width: 92% !important;
}

.post-cards-container {
  grid-template-columns: repeat(3, 1fr) !important;
}

@media (max-width: 900px) {
  .post-cards-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 600px) {
  .post-cards-container {
    grid-template-columns: 1fr !important;
  }
}
